html {
    height: 800px;
    margin: 0px;
    width: 1440px;
  
}

body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
    background-color: #B4DCFF;
    
}

.mainContents {
    display: flex;
    justify-content: center;
    
}